body, div, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4,p
{margin:0;padding:0;font-style:normal;font:14px/22px "\5B8B\4F53",Arial, Helvetica,sans-serif} 
 
ol, ul ,li{list-style: none;} 
img {border: 0; vertical-align:middle;} 
body{color:#000000;background:#FFF; text-align:center;} 
.clear{clear:both;height:1px;width:100%; overflow:hidden; margin-top:-1px;} 
a{color:#000000;text-decoration:none; }  
a:hover{color:#BA2636;text-decoration:underline;} 
body{background-color: #f5f7f9}

.content_box{padding: 0 250px}
.tl{text-align:left}
.btn{cursor: pointer;border: 1px solid #000;background-color: #fff;color: #000;padding: 5px 10px;width: 20px;border-radius: 5px;}
.btn:hover{background-color: #000;color: #fff;}
.ellipsis{display: -webkit-box;overflow: hidden;text-overflow: ellipsis; -webkit-box-orient: vertical;}
.mt10{margin-top: 10px}
.mt20{margin-top: 20px}